<%= link_to('Generate pdf report for current month', root_path(format: :pdf)) %>
<div class='card-deck'> 
  
  <% @cards.each do |worker| %>
  <a href= '<%="/workers/#{worker.id}"%>' style='text-decoration: none'">
    <div class="card border-secondary mb-3" style="max-width: 18rem; margin: 15px;">
      <div class="card-header"><%= worker.full_name %></div>
      <div class="card-body text-secondary">
      <h5 class="card-title"> <%= worker.position || 'Worker' %> at <%= worker.department.name %></h5>
      <p class="card-text">Salary<%= '(per hour)' if worker.per_hour?%>: <%= worker.salary %></p>
      <p class="card-text">Salary this month: <%= worker.current_salary %></p>
  </div>
  </a>
</div>
  <% end %>
</div>
