
<%= form_for @card do |f| %>
  <div class="form-group">
    <%= f.label :day %>
    <%= f.date_field :day, class: 'form-control', readonly: true, value: @card.day %>
  </div>
  <div class="form-group">
    <%= f.label :worktime, 'Work time' %>
    <%= f.number_field :worktime, step: :any, class: 'form-control', value: @card.worktime%>
  </div>
  <%= f.submit "Update worktime card", class: 'btn btn-primary', data: { confirm: 'Confirm worktime card update' }  %>
<% end %>
